<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>GeoTagApp</title>
	<link href= './stylesheets/style.css'
		  rel='stylesheet'
		  type="text/css"
		  media="screen and (min-width: 50px),(min-width: 3000px)"
		  />
</head>

<body>

<header>
	<img src="./images/location.png" width="100"
		 alt="an image of a map and location"/>
	<h1>GeoTagApp</h1>
	<nav>
		<a href="#">About</a> | <a href="#">Help</a> | <a
				href="/">Home</a>
	</nav>
</header>

<main>

	<section class="tagging">
		<h2>Tagging</h2>

		<!-- ############### Aufgabe1a Form1 Start -->
		<fieldset>
			<legend>Enter new GeoTag</legend>
			<form id="tag-form" action="/tagging" method="post">
				<label>Latitude:</label>
				<input id="latitude_geotag" type="text" name="latitudeGeotag" placeholder="Latitude of your place"
					   pattern="\s*[-+]?(180(\.0+)?|((1[0-7]\d)|([1-9]?\d))(\.\d+)?)$" required value="<%= lat %>"/>
				<label>Longitude:</label>
				<input id="longitude_geotag" type="text" name="longitudeGeotag" placeholder="Longitude of your place"
					   pattern="\s*[-+]?(180(\.0+)?|((1[0-7]\d)|([1-9]?\d))(\.\d+)?)$" required value="<%= long %>"/>
				<label>Name:</label>
				<input id="name_geotag" type="text" name="name_geotag" placeholder="Your name" maxlength="10"
					   required/>
				<label>Hashtag:</label>
				<input id="hashtag_geotag" type="text" name="hashtag_geotag"
					   placeholder="# + max. 10 letters" maxlength="11" pattern="#[a-zA-Z0-9_]*">
				<input id="submit_geotag" type="button" value="Submit" /> <!-- TODO: CHANGED FROM submit to button -->
				<!-- ############### Aufgabe1a Form1 Ende -->
			</form>
		</fieldset>
	</section>

	<section class="discovery">
		<h2>Discovery</h2>

		<!-- ############### Aufgabe1a Form2 Start -->
		<fieldset>
			<legend>Filter by Searchterm</legend>
			<form id="filter-form" action="/discovery" method="post">
			<input id="discovery_search" name="discovery_search" type="text" placeholder="search item"/>
			<input id="hidden_latitude" name="hid_latitude" type="hidden" value="<%= lat %>"/>
			<input id="hidden_longitude" name="hid_longitude" type="hidden" value="<%= long %>"/>
			<input id="discovery_apply" name="apply" type="button" value="Search">
			</form>
		</fieldset>
		<!-- ############### Aufgabe1a Form2 Ende -->

		<div class="taglist">
			<ul id="results">
				<% if (taglist !== undefined) taglist.forEach(function(gtag) { %>
					<li><%= gtag.name %> ( <%= gtag.latitude %>,<%= gtag.longitude %>) <%= gtag.hashtag %> </li>
				<% }); %>
			</ul>
			<ul id="pg_buttons">
                <li>
                    <a id="previousPage"> << </a>
                </li>
				<div id="pg_btns">
					<% if (pagesList !== undefined) pagesList.forEach(function(page) { %>
						<button id="pg_btn" value=<%= page %> name="pgbtn"> <%= page %> </button>
					<% console.log("pgslist" + pagesList);%>
					<% }); %>
				</div>
                <li>
                    <a id="nextPage"> >> </a>
                </li>
            </ul>
		</div>

		<div class="tagmap">
			<img id="result-img" src="./images/mapview.jpg" alt="Map with GeoTags" data-tags="<%= datatags %>"/>
			<div class="caption">Result map</div>
		</div>

	</section>

</main>

<footer>
	<span>2017 by LKIT</span>
</footer>

<!-- Load JavaScripts
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script  src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script  src="./javascripts/geotagging.js" ></script>
</body>
</html>
